html {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp5590320.png');
}

.submit-guess {
    padding: 1rem;
    border: 1px solid goldenrod;
}
